
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify  {
  text-align: justify ;
}

.text-nowrap {
  text-align: nowrap;
}

.block-center {
  float: none;
  margin: 0 auto;
}
